<!DOCTYPE html>
<html>
<head>
  <title>AwesomeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>



</head>
<body>

<% if logged_in? %>
		<nav class="navbar navbar-default navbar-fixed-top navbar-xs">
    <div class="inline-block branding">
        <a class="link-to-home" href="/">AwesomeTracker</a>
    </div>
    <div class="user-control-wrapper float-right">
        <div class="dropdown">
            <p id="dropdownmenu1" class="dropdown-toggle navbar-username" data-toggle="dropdown" data-userid="<%= current_user.id %>" aria-expanded="true">
                <%=current_user.username %><span class="caret"></span>
            </p>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                	<%= link_to "Log out", session_url, method: :delete %>
                </li>
            </ul>
        </div>

    </div>
</nav>
<% end %>

<%= yield %>

</body>
</html>
